.spotlightWrapper.standardContent {
    max-width: none;
}

.spotlightCopy.col-sm-7 {
    width: 60%
}


/* ***  Medium min Defaults   *** */
@media screen and (min-width : 768px) {

    .law-detailPage-809077 .standardContent .spotlightCopy p {
        font-size: 1.5rem;
    }
}